In [2]:
pip install census

Requirement already satisfied: census in ./opt/anaconda3/lib/python3.9/site-packages (0.8.21)
Requirement already satisfied: requests>=1.1.0 in ./opt/anaconda3/lib/python3.9/site-packages (from census) (2.31.0)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/lib/python3.9/site-packages (from requests>=1.1.0->census) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.9/site-packages (from requests>=1.1.0->census) (2022.9.24)
Requirement already satisfied: charset-normalizer<4,>=2 in ./opt/anaconda3/lib/python3.9/site-packages (from requests>=1.1.0->census) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./opt/anaconda3/lib/python3.9/site-packages (from requests>=1.1.0->census) (1.26.11)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install states

Requirement already satisfied: states in ./opt/anaconda3/lib/python3.9/site-packages (0.2.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install us

Requirement already satisfied: us in ./opt/anaconda3/lib/python3.9/site-packages (3.1.1)
Requirement already satisfied: jellyfish==0.11.2 in ./opt/anaconda3/lib/python3.9/site-packages (from us) (0.11.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import nltk
import sklearn
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import sqlalchemy
import json

In [8]:
from census import Census
from us import states

# Replace 'YOUR_API_KEY' with your actual Census Bureau API key
c = Census("592f0805f7272e17ae1074a319623453d829ef2d")

# Example: Fetch median household income by state for 2019
income_data2019 = c.acs5.state(('NAME', 'B19013_001E'), Census.ALL, year=2019)

# Convert to a DataFrame for easier analysis
income_df2019 = pd.DataFrame(income_data2019)

# Rename columns for clarity
income_df2019.rename(columns={'NAME': 'State', 'B19013_001E': 'Median Household Income'}, inplace=True)

print(income_df2019)

                   State  Median Household Income state
0                Alabama                  50536.0    01
1                 Alaska                  77640.0    02
2                Arizona                  58945.0    04
3               Arkansas                  47597.0    05
4             California                  75235.0    06
5               Colorado                  72331.0    08
6               Delaware                  68287.0    10
7   District of Columbia                  86420.0    11
8            Connecticut                  78444.0    09
9                Florida                  55660.0    12
10               Georgia                  58700.0    13
11                 Idaho                  55785.0    16
12                Hawaii                  81275.0    15
13              Illinois                  65886.0    17
14               Indiana                  56303.0    18
15                  Iowa                  60523.0    19
16                Kansas                  59597.0    20
17              Kentucky                  50589.0    21
18             Louisiana                  49469.0    22
19                 Maine                  57918.0    23
20              Maryland                  84805.0    24
21         Massachusetts                  81215.0    25
22              Michigan                  57144.0    26
23             Minnesota                  71306.0    27
24           Mississippi                  45081.0    28
25              Missouri                  55461.0    29
26               Montana                  54970.0    30
27              Nebraska                  61439.0    31
28                Nevada                  60365.0    32
29         New Hampshire                  76768.0    33
30            New Jersey                  82545.0    34
31            New Mexico                  49754.0    35
32              New York                  68486.0    36
33        North Carolina                  54602.0    37
34          North Dakota                  64894.0    38
35                  Ohio                  56602.0    39
36              Oklahoma                  52919.0    40
37                Oregon                  62818.0    41
38          Pennsylvania                  61744.0    42
39          Rhode Island                  67167.0    44
40        South Carolina                  53199.0    45
41          South Dakota                  58275.0    46
42             Tennessee                  53320.0    47
43                 Texas                  61874.0    48
44               Vermont                  61973.0    50
45                  Utah                  71621.0    49
46              Virginia                  74222.0    51
47            Washington                  73775.0    53
48         West Virginia                  46711.0    54
49             Wisconsin                  61747.0    55
50               Wyoming                  64049.0    56
51           Puerto Rico                  20539.0    72

In [10]:
# Replace 'YOUR_API_KEY' with your actual Census Bureau API key
c = Census("API KEY")

# Example: Fetch median household income by state for 2019
income_data2018 = c.acs5.state(('NAME', 'B19013_001E'), Census.ALL, year=2018)

# Convert to a DataFrame for easier analysis
income_df2018 = pd.DataFrame(income_data2018)

# Rename columns for clarity
income_df2018.rename(columns={'NAME': 'State', 'B19013_001E': 'Median Household Income'}, inplace=True)

print(income_df2018)

                   State  Median Household Income state
0            Mississippi                  43567.0    28
1               Missouri                  53560.0    29
2                Montana                  52559.0    30
3               Nebraska                  59116.0    31
4                 Nevada                  57598.0    32
5          New Hampshire                  74057.0    33
6             New Jersey                  79363.0    34
7             New Mexico                  48059.0    35
8               New York                  65323.0    36
9         North Carolina                  52413.0    37
10          North Dakota                  63473.0    38
11                  Ohio                  54533.0    39
12              Oklahoma                  51424.0    40
13                Oregon                  59393.0    41
14          Pennsylvania                  59445.0    42
15          Rhode Island                  63296.0    44
16        South Carolina                  51015.0    45
17          South Dakota                  56499.0    46
18             Tennessee                  50972.0    47
19                 Texas                  59570.0    48
20               Vermont                  60076.0    50
21                  Utah                  68374.0    49
22              Virginia                  71564.0    51
23            Washington                  70116.0    53
24         West Virginia                  44921.0    54
25             Wisconsin                  59209.0    55
26               Wyoming                  62268.0    56
27           Puerto Rico                  20166.0    72
28               Alabama                  48486.0    01
29                Alaska                  76715.0    02
30               Arizona                  56213.0    04
31              Arkansas                  45726.0    05
32            California                  71228.0    06
33              Colorado                  68811.0    08
34              Delaware                  65627.0    10
35  District of Columbia                  82604.0    11
36           Connecticut                  76106.0    09
37               Florida                  53267.0    12
38               Georgia                  55679.0    13
39                 Idaho                  53089.0    16
40                Hawaii                  78084.0    15
41              Illinois                  63575.0    17
42               Indiana                  54325.0    18
43                  Iowa                  58580.0    19
44                Kansas                  57422.0    20
45              Kentucky                  48392.0    21
46             Louisiana                  47942.0    22
47                 Maine                  55425.0    23
48              Maryland                  81868.0    24
49         Massachusetts                  77378.0    25
50              Michigan                  54938.0    26
51             Minnesota                  68411.0    27

In [ ]:
from census import Census
import pandas as pd

# Initialize with your API key
c = Census("API KEY")

# Fetching a variety of data for a state, for example, California (state code 06)
data = c.acs5.state(('NAME', 
                     'B01003_001E',  # Total population
                     'B19013_001E',  # Median household income
                     'B25077_001E',  # Median housing value
                     'B23025_005E'), # Unemployment count
                     states.CA.fips, year=2019)

# Convert to DataFrame
df = pd.DataFrame(data)

# Rename columns for clarity
df.rename(columns={'NAME': 'State', 'B01003_001E': 'Total Population', 
                   'B19013_001E': 'Median Household Income', 
                   'B25077_001E': 'Median Housing Value',
                   'B23025_005E': 'Unemployment Count'}, inplace=True)

print(df)

In [11]:
income_df2018

                   State  Median Household Income state
0            Mississippi                  43567.0    28
1               Missouri                  53560.0    29
2                Montana                  52559.0    30
3               Nebraska                  59116.0    31
4                 Nevada                  57598.0    32
5          New Hampshire                  74057.0    33
6             New Jersey                  79363.0    34
7             New Mexico                  48059.0    35
8               New York                  65323.0    36
9         North Carolina                  52413.0    37
10          North Dakota                  63473.0    38
11                  Ohio                  54533.0    39
12              Oklahoma                  51424.0    40
13                Oregon                  59393.0    41
14          Pennsylvania                  59445.0    42
15          Rhode Island                  63296.0    44
16        South Carolina                  51015.0    45
17          South Dakota                  56499.0    46
18             Tennessee                  50972.0    47
19                 Texas                  59570.0    48
20               Vermont                  60076.0    50
21                  Utah                  68374.0    49
22              Virginia                  71564.0    51
23            Washington                  70116.0    53
24         West Virginia                  44921.0    54
25             Wisconsin                  59209.0    55
26               Wyoming                  62268.0    56
27           Puerto Rico                  20166.0    72
28               Alabama                  48486.0    01
29                Alaska                  76715.0    02
30               Arizona                  56213.0    04
31              Arkansas                  45726.0    05
32            California                  71228.0    06
33              Colorado                  68811.0    08
34              Delaware                  65627.0    10
35  District of Columbia                  82604.0    11
36           Connecticut                  76106.0    09
37               Florida                  53267.0    12
38               Georgia                  55679.0    13
39                 Idaho                  53089.0    16
40                Hawaii                  78084.0    15
41              Illinois                  63575.0    17
42               Indiana                  54325.0    18
43                  Iowa                  58580.0    19
44                Kansas                  57422.0    20
45              Kentucky                  48392.0    21
46             Louisiana                  47942.0    22
47                 Maine                  55425.0    23
48              Maryland                  81868.0    24
49         Massachusetts                  77378.0    25
50              Michigan                  54938.0    26
51             Minnesota                  68411.0    27